.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 0px;
}
.navbar-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbar-list a{
    text-decoration: none;
    padding: 7px;
    transition: 0.5s;
}
.navbar-list a:hover{
    color: red;
}
